.navbar-main_conatiner{
    width: 100%;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: Hind, sans-serif;
    font-weight: 600;
}

.navbar-container{
    width: 60%;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container img{
    width: 190px;
}

.navbar-container p{
    font-size: 14px;
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    padding-bottom: 6px;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:  goldenrod;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }